/*DEBUT SELECT ACTUALITES ORDRE*/

/* FIN SELECT ACTUALITES ORDRE*/
.fireImg{
    height: 50px;
}
.submitOrder{
    background-color: #1aa3ff;
    border-radius:12px 0 12px 0;
	border:none;
	color:#000;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}
.selection{
    background-color: #66a3ff;
}
.logo{
    width: 55px;
    height: 55px;
}
.header {
    background-image: url(img/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    color: white;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerImg{
    width: 200px;
    height: 200px;
}

#title{
    padding-left: 30px;

}
#logForm {
    background-color: white;
    color: black;
}

.accueil{
    display: flex;
    margin-left:20%;
    margin-right: 20%;
    margin-top:5%;
}

#footer{
    margin-top:5%;
}
.footerIcone{
    max-height: 50px;
}



/* Actualites */
.divActu{
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 2px solid black;
}
.titreActu{
    margin-left: -5%;
}